body {
	margin:0px;
	font-family: Monaco, Helvetica, Arial;
	background-color: #FAFAFA;
	font-size: 16px;
	line-height: 30px;
/*header elements*/
}
header {
	background-color: #9F3636; 
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2 {
	font-family: 'Lexend Peta', cursive;
}
header h1 {
	color: #FAFAFA;
	font-size: 55px;
}
header img {
	border-radius: 170px;
	width: 300px;
	border: 9px solid #222222;
}
/*main elements*/
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px;
	background-color: #FAFAFA;
}

main img {
	max-width: 100%;
}

h2 {
	font-size: 30px;
	color:#9F3636;
}

a {
	color:#9F3636;
}

a:hover{ 
	color:#222222;
 }

footer{
	background-color: #9F3636; 
	text-align: center;
	color:#222222;
	padding: 50px
}

footer p{
	margin:0;
}

p.caption{
	color:#9F3636;
	font-style: italic;
	margin-top: 0;
}







